<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :clinic_id %><br />
    <%= f.number_field :clinic_id %>
  </div>
  <div class="field">
    <%= f.label :visit_duration %><br />
    <%= f.number_field :visit_duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
