<h1>Doctors</h1>
<%= form_tag '/doctors', :remote => true, :method => :get, :id => "search_form" do %>
    <%= fields_for :search do |f| %>
        <%= f.label :surname, "Surname" %>
        <%= f.text_field :surname, :value => search_param(:surname) %> <br />
        <%= f.label :clinic_name %>
        <%= f.text_field :clinic_name, :value => search_param(:clinic_name) %><br />
        <%= f.label :city_name %>
        <%= f.text_field :city_name, :value => search_param(:city_name) %><br />
        Duration <%= f.label :visit_duration_from, "from" %>
        <%= f.number_field :visit_duration_from, :value => search_param(:visit_duration_from) %>
        <%= f.label :visit_duration_to, "to" %>
        <%= f.number_field :visit_duration_to, :value => search_param(:visit_duration_to) %> <br />
        <%= f.select :specialization_id, Specialization.all.collect{|p| [ p.name, p.id ] }, :include_blank => 'All', :selected  => search_param(:specialization_id)%><br/>

        <%= f.hidden_field :direction, :value => search_param(:direction) %>
        <%= f.hidden_field :sort, :value => search_param(:sort) %>
        <%= f.submit "Search" %>
    <%end %>
<% end %>
<div id="doctors">
  <%= render :partial => 'doctors', :locals => { :doctors => @doctors }  %>
</div>
<br />
<% if is_admin? %>
    <%= link_to 'New Doctor', new_doctor_path %>
<% end %>

<script type="text/javascript">
    $(document)
            .on('click','.pagination a', function() {
                $.getScript(this.href);
                return false;
            })
            .on('click','.sort_link', function() {
                var dir = $('#search_direction');
                dir.val() == "ASC" ? dir.val('DESC') : dir.val('ASC');
                $('#search_sort').val($(this).html());
                $.get($("#search_form").attr("action"), $("#search_form").serialize(), null, "script");
                return false;
            });

</script>